<div class="head" [ngClass]="getHeadClass()">
    <div class="head-content">
        <div class="head-content-left">
            <div class="page-title">
                <mat-icon>dashboard</mat-icon>
                <span>{{pageTitle}}</span>
            </div>
            <!-- <div class="search-container">
                <div class="normal-search">
                    <input type="search" class="search" 
                    name="" id="" placeholder="Search...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div> -->
        </div>
        <div class="head-content-right">
            <div class="head-menu">
                <div class="head-menu-item">

                    <!-- <button class="head-menu-item-btn ripple"></button> -->

                    <button *ngIf="iscomputerMenu()" mat-icon-button class="example-icon favorite-icon space"
                        href="javascript:" title='Browse Candidate' (click)="openmodal('#BrowseCandidate')"
                        aria-label="Example icon-button with heart icon">
                        <mat-icon class="material-icons color_white"
                            (click)="openmodal('#BrowseCandidate')">person_search</mat-icon><br>
                    </button>

                    <button *ngIf="iscomputerMenu()" mat-icon-button class="example-icon favorite-icon space" href=""
                        title='Smtp Detail' (click)="openmodal('#smtpdetail')"
                        aria-label="Example icon-button with heart icon">
                        <mat-icon class="material-icons color_white">email</mat-icon>
                        <!-- <br><small style="margin-left: -3px;">Smtp</small> -->
                    </button>


                    <a class="space calender"
                        href=""
                        target="_blank" rel="noopener noreferrer">
                        <mat-icon class="material-icons color_white">calendar_today</mat-icon>
                    </a>

                    <mat-list *ngIf="iscomputerMenu()" class="mt-1 " style="margin-left: 20px;">
                        <button mat-button [matMenuTriggerFor]="CandidateData"
                            class="btn color1 btn-sm btn-outline-secondary " href="javascript:">
                            <span matPrefix class="textcolor">
                                Candidate
                            </span></button>
                        <mat-menu #CandidateData="matMenu">
                            <button mat-menu-item 
                                [routerLink]="['/myjob']">My Job</button>
                            <button mat-menu-item 
                                [routerLink]="['/call-detail']">Call
                                Detail</button>
                            <button mat-menu-item 
                                [routerLink]="['/history']">History</button>
                            <!-- <button mat-menu-item *ngIf="db.mp.page_internal_database ||!db.profile.isvendor"
                [routerLink]="['/candidate-in-queue']"> Candidate In Queue</button> -->

                            <button mat-menu-item 
                                [routerLink]="['/internaldatabase']"> Internal Database </button>
                        </mat-menu>

                    </mat-list>


                    <mat-list *ngIf="iscomputerMenu()" class="mt-1 ">





                        <!-- <li class="nav-item"> -->
                        <button mat-button [matMenuTriggerFor]="addData" class="btn color1 btn-sm btn-outline-secondary"
                             href="javascript:">
                            <span matPrefix class="textcolor">
                                Add
                                <!-- <mat-icon style="margin-left: -4px; margin-top: -7px;" class="icones">publish</mat-icon> -->
                            </span></button>
                        <mat-menu #addData="matMenu">
                           
                        </mat-menu>
                
                
                    </mat-list>

                </div>
            </div>
        </div>
    </div>
</div>
